<div class="span4 block-info">
    <div class="info-text-small">
      <p>О запорожье</p>
    </div>
        <p>
            <strong>Запоро́жье</strong> <em>(укр. Запорі́жжя)</em> — город на реке Днепр, административный центр Запорожской области Украины. Является одним из наиболее крупных административных, индустриальных и культурных центров юга Украины. Население — 769 тыс. чел.Речной порт и важный транзитный железнодорожный узел. Четвёртый по величине индустриальный центр Украины с развитым машиностроением, чёрной и цветной металлургией и др.
        </p>
</div>