<?= $this->htmlSponsor() ?>

  <div class="row-fluid">
    <div class="span12 block-info">

      <img class="" src="http://nffu.org.ua/images/stories/eurofencing_banner_2.gif"/>
    </div>
  </div>

<script>
$(function(){
        Wrap = $('#status-wrapper');
        Link = Wrap.find('a');
        Link.addClass('pure-button pure-button-secondary pure-button-xlarge');
        Link.attr('style', 'text-decoration:none');
        Link.mouseover(function(){	    
            $(this).attr('style', 'color:white; text-decoration:none;');
    });
});
</script>

<!-- container-block -->
<!--<div id="footer" class="well">
[FOOTER]
</div>-->
</body>
</html>