<div class="pollSlider-text">
	Фехтование есть искусство наносить удары, не получая их. Необходимость тронуть противника, избегая его ударов, делает искусство фехтования чрезвычайно сложным и трудным, ибо к глазу, который видит и предупреждает, к рассудку, который обсуждает и решает, к руке, которая выполняет, необходимо прибавить точность и быстроту, чтобы дать надлежащую жизнь оружию.<br />
	<em>Мольер</em>

	 <hr />

	Фехтование — символ благородства, изысканного вкуса и мужества.
	Национальная федерация фехтования Украины — это чемпионы и призеры Олимпийских Игр, Чемпионы Мира и Европы. Они настоящие герои! — приходите к нам и убедитесь в этом сами. Здесь нет места слабым. Здесь только лучшие! Весь мир заворожено следит за героями.
</div>
