  <!-- start .manu -->
  <ul class="menu">
    <li><a href="/">ЗГДЮЛФ</a>
      <ul>
        <li><a href="/status"><i class="icon-cog "></i>  Статус</a></li>
        <li><a href="/clubs"><i class="icon-star-empty "></i>  Клубы</a></li>
        <li><a href="/ispolkom"><i class="icon-briefcase "></i>  Исполком</a></li>
        <li><a href="#"><i class="icon-bullhorn "></i>  Пресс-центр</a></li>
      </ul>
    </li>
    <li><a href="#">Новости</a>
      <ul>
        <li><a href="/competentions"><i class="icon-flag "></i>  Соревнования</a></li>
        <li><a href="/interview"><i class="icon-user "></i>  Интервью</a></li>
      </ul>
    </li>
    <li><a href="#">Соревнования</a>
      <ul>
        <li><a href="#"><i class="icon-calendar "></i>  Календарь</a></li>
        <li><a href="#"><i class="icon-pencil "></i>  Результаты</a></li>
        <li><a href="/rating"><i class="icon-thumbs-up "></i>  Рейтинг</a></li>
      </ul>
    </li>    
    <li><a href="#">О фехтовании</a>
      <ul>
        <li><a href="/about-fencing" class="documents"><i class="icon-heart "></i>  О фехтовании</a></li>
        <li><a href="/history-fencing" class="messages"><i class="icon-book "></i>  История</a></li>
        <li><a href="/champions" class="signout"><i class="icon-signal "></i>  Чемпионы</a></li>
      </ul>
    </li>
    <li><a href="#">Медиа</a>
      <ul>
        <li><a href="#" class="documents"><i class="icon-picture "></i>  Фото</a></li>
        <li><a href="#" class="messages"><i class="icon-film "></i>  Видео</a></li>
        <li><a href="#" class="signout"><i class="icon-home "></i>  О Запорожье</a></li>
      </ul>
    </li>
  </ul>
  <!-- end .menu -->

  <div class="container-fluid container-block">    
