  <div class="row-fluid">
    <div class="span12 block-info">
      <div class="span3 thumbnail">
        <div class="sponsor-block-1">
          <div class="sponsor-block-1-module-1">
            <div class="sponsor-block-1-module-2">
              <div class="sponsor-block-1-module-3">
                <a href="http://www.fie.ch/" target="_blank"><img class="sponsor-img" title="FIE" alt="FIE" src="/img/fie.png"></img></a>
                <p>Международная федерация фехтования</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span3 thumbnail">
        <div class="sponsor-block-2">
          <a href="http://www.eurofencing.info/" target="_blank"><img class="sponsor-img" title="EFC" alt="EFC" src="/img/efc.png"></img></a>
          <p>Европейская конфедерация фехтования</p>
        </div>
      </div>
      <div class="span3 thumbnail">
        <div class="sponsor-block-3">
          <a href="http://www.mask-sport.com/live-transmissions/" target="_blank"><img class="sponsor-img" title="Olympics 2012" alt="Junior and Cadet European Championships 2012" src="/img/mask.jpg"></img></a>
          <p>Результаты соревнований <a href="http://www.mask-sport.com/live-transmissions/" target="_blank" class="red-link">on-line</a></p>
        </div>  
      </div>
      <div class="span3 thumbnail">
        <div class="sponsor-block-4">
          <a href="http://nffu.org.ua/" target="_blank"><img class="sponsor-img" title="nffu" alt="НФФУ" src="/img/nffu.gif"></img></a>
          <p>Национальная федерация фехтования Украины</p>
        </div>
      </div>
    </div>
  </div>