<div class="well">
	<h3 style="text-align:center;">{{ @title }}</h3>
	<check if="{{ @PARAMS.param }} == 'ones'">
		<true>
			<repeat group="{{ @Blocks }}" value="{{ @Block }}">	
				<check if="{{ @Block.Position }} == 2">
					<true>
						{{ @Block.Content | raw }}
					</true>
				</check>
			</repeat>
		</true>
		<false>
			<repeat group="{{ @Blocks }}" value="{{ @Block }}">	
				<check if="{{ @Block.Position }} == 4">
					<true>
						{{ @Block.Content | raw }}
					</true>
				</check>
			</repeat>
		</false>
	</check>
</div>
