<div class="content-box">	
	

	<a <?= Request::get('t') != 1 ? 'class="btn btn-primary"' : '' ?> href="?t=0">В ожидании</a>
	<a <?= Request::get('t') == 1 ? 'class="btn btn-primary"' : '' ?> href="?t=1">Автивные</a>


	<div id="comments-list">

	<table class="table table-striped">
			<thead>
			  <tr>	  	
			    <th>Дата</th>
			    <th>Тип</th>
			    <!--<th>Оценка</th>-->
			    <th>Автор</th>
			    <th>Текст</th>
			    <th>&nbsp;</th>
			  </tr>
			</thead>
			<tbody>
			  <? foreach ( $Comments as $Comment ) : ?>
				<tr>
					<td><?= $Comment->getDate() ?></td>
					<td><?= $Comment->getType() ?></td>
					<!--<td><?//= $Comment->Rank ?></td>-->
					<td><?= htmlspecialchars( $Comment->Author ) ?></td>
					<td>
						<?= nl2br( htmlspecialchars( $Comment->Text ) ) ?>
						<? foreach ( $Comment->getAnswers() as $Answer ) : ?>
						<div class="answer"><?= nl2br( htmlspecialchars( $Answer->Text ) ) ?></div>
						<? endforeach; ?>
					</td>
					<td class="actions">
						<? if ( $Comment->IsApproved < 2 ) : ?>
						<a href="<?= $this->getLink('approve/'.$Comment->Id, true) ?>" class="btn btn-primary btn-xs" title="">Подтвердить</a>
						<? else : ?>
						<a href="<?= $this->getLink('edit/'.$Comment->Id, true) ?>" class="btn btn-primary btn-xs" title="">Изменить</a>
						<? endif; ?>					
						<a href="<?= $this->getLink('delete/'.$Comment->Id) ?>#delete" class="btn btn-primary btn-xs" style="margin-left: 30px" title="">Удалить</a>
					</td>
				</tr>
			<? endforeach; ?>
			</tbody>
		</table>
		
	</div>
	
</div>


<script type="text/javascript">
<!--
(function($){
	
	var $list = $('#comments-list');
	
	$list.jFilterList({
		'wrapper'	: '.content-box',
		'posUrl'	: '<?= $this->getLink('pos') ?>',
		'txtDelete'	: 'Вы действительно хотите удалить комментарий?'
	});

})(jQuery);
//-->
</script>
