 <? if ( count( $Articles ) ) : ?>
   <? foreach ( $Articles as $Article ) : ?>
    <div class="well">
      <div class="row">
        <div class="span11">
          <div class="row">
            <div class="span8">
              <h4><strong><a href="<?= URL::get( $this->getController() ) . '/view/' . $Article->Id ?>"><?= $Article->Title ?></a></strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="span2">            
                <img src="http://placehold.it/260x180" alt="">           
            </div>
           <div class="span9">      
            <p>
              <?= $Article->Description ?>
            </p>
            <p><a class="btn pull-right" href="<?= URL::get( $this->getController() ) . '/view/' . $Article->Id ?>">Читать полную новость</a></p>
          </div>
          </div>
        </div>

          <div class="span8" style="padding-top:10px;">
            <p>
              <!--<i class="icon-user"></i> by <a href="#">John</a>-->
              | <i class="icon-calendar"></i> <?= $Article->getDate() ?>              
              | <i class="icon-comment"></i> В записи <?= count($Article->getComments()) ?> комментариев |
              <!--| <i class="icon-share"></i> <a href="#">39 Shares</a>-->                       
              <? $tags = $Article->getTags(); ?>
              <? if ( count( $tags ) ) : ?>
                <i class="icon-tags"></i> Теги :    
                <? foreach ( $tags as $i => $Tag ) : ?>
                <span class="label label-info"><a style="text-decoration:none; color:#fff" href="<?= URL::get( $this->getController() ) . '?tag=' . $Tag->Name ?>"><?= htmlspecialchars( $Tag->Name ) ?></a></span>
                <? endforeach; ?>
              <? endif; ?>                 
            </p>
          </div>
      </div>
    </div>    
  <? endforeach; ?>
<? else: ?>
  <div class="well">
    <h3>Нет доступных записей</h3>
  </div>
<? endif; ?>

<script>
  $('#img*').each(function(){
    $(this).find('img').addClass('thumbnail');    
  });  
</script>