  <div class="well">
    <div class="row">
      <div class="span11">
        <div class="row">
          <div class="span11">
            <p><a href="<?= URL::get( $this->getController() ) ?>">&larr; Вернутся</a></p>
            <h4><strong><?= $Article->Title ?></strong></h4>
          </div>
        </div>
        <div class="row">
         <div class="span11">      
          <p>
            <?= $Article->Content ?>
          </p>          
        </div>
      </div>      
      <hr />
      <div class="row">
        <div class="span9" style="padding-top:10px;">
          <p>
            <!--<i class="icon-user"></i> by <a href="#">John</a>-->
            | <i class="icon-calendar"></i> <?= $Article->getDate() ?>
            | <i class="icon-comment"></i> В записи <?= count($Article->getComments()) ?> комментариев |
            <i class="icon-eye-open"></i> <?= $Article->Views ?> прочитали |     
            <!--| <i class="icon-share"></i> <a href="#">39 Shares</a>-->                      
              <? $tags = $Article->getTags(); ?>
              <? if ( count( $tags ) ) : ?>
              <i class="icon-tags"></i> Теги :   
                <? foreach ( $tags as $i => $Tag ) : ?>
                <span class="label label-info"><a style="text-decoration:none; color:#fff" href="<?= URL::get( $this->getController() ) . '?tag=' . $Tag->Name ?>"><?= htmlspecialchars( $Tag->Name ) ?></a></span>
                <? endforeach; ?>
              <? endif; ?>               
          </p>
        </div>
      </div>
    </div>
  </div>    
</div>

<div class="response"></div>
<div class="well">
  <form id="comment-dialog" action="<?= URL::get( $this->getController() ) . '/comment/' . $Article->Id ?>" method="post">
    <fieldset>
      <!-- Text input-->
      <div class="control-group">
        <div class="js-row">
          <label class="control-label" for="">Ваше имя</label>
          <div class="controls">
            <input id="" name="Author" rel="validate(Name)" type="text" placeholder="" class="input-medium">
            <span class="js-error error" style="display: none; color:red;">Укажите имя</span>
        </div>
          
        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <div class="js-row">
          <label class="control-label" for="textinput">Email</label>
          <div class="controls">
            <input id="textinput" rel="validate(Email)" name="Email" type="text" placeholder="" class="input-medium">
            <span class="js-error error" style="display: none; color:red;">Укажите Электронную почту</span>
            
          </div>
        </div>
      </div>

      <!-- Textarea -->
      <div class="control-group">
        <div class="js-row">
          <label class="control-label" for="">Комментарий</label>
          <div class="controls">                     
            <textarea rows="5" cols="40" rel="validate(Text)" style="width:50%;" id="" name="Text"></textarea>
            <span class="js-error error" style="display: none; color:red;">Поле пустое</span>
          </div>
        </div>
      </div>

      <!-- Button -->
      <div class="control-group">
        <label class="control-label" for=""></label>
        <div class="controls">
          <button id="" name="" class="btn btn-primary">Отравить</button>
        </div>
      </div>

    </fieldset>
</form>
</div>

    Отзывы (<?= count($Comments) ?>)        

  <? if ( count($Comments) ) : ?>
      <? foreach ( $Comments as $Comment ) : ?>
        <div class="well well-small">
          <?= htmlspecialchars($Comment->Text) ?><br />
          <span class="label"><?= htmlspecialchars($Comment->Author) ?></span>
          <span class="label"><?= $Comment->getDate() ?></span>
        </div>
      <? endforeach; ?>         
  <? endif; ?>

<script>
  $('#img*').each(function(){
    $(this).find('img').addClass('thumbnail');    
  });  

  $('#comment-dialog').jAjaxForm({
    completeSubmit: function(){   
        //$('div.forms').hide();    
        $('div.response').html('Комментарий добавлен.');                 
      } 
  });  
</script>