<div class="content-box">

	<?= $this->htmlBreadcrumbs() ?>
	
	<div class="add">
		<a href="<?= $this->getLink('add') ?>">Добавить оплату</a>
	</div>
	
	<div id="payment-list" style="width: 600px">

	<table width="100%" cellpadding="0" cellspacing="0" class="data-list">
	<thead>
	<tr>
		<td>Наименование</td>
		<td width="120">&nbsp;</td>
	</tr>
	</thead>
	</table>
	
	<ul class="ui-sortable">
	<? foreach ( $Payments as $Payment ) : ?>
		<li value="<?= $Payment->Id ?>">
			<table width="100%" cellpadding="0" cellspacing="0" class="data-list">
			<tr>
				<td class="ui-movable-icon"><?= htmlspecialchars( $Payment->Name ) ?></td>
				<td width="120" class="actions">
					<a href="<?= $this->getLink('edit/'.$Payment->Id) ?>">изменить</a> | 
					<a href="<?= $this->getLink('delete/'.$Payment->Id.'#delete') ?>">удалить</a>
				</td>
			</tr>
			</table>
		</li>
	<? endforeach; ?>
	</ul>
	
	</div>
	
</div>


<script type="text/javascript">
<!--
(function($){
	
	var $list = $('#payment-list');
	
	$list.jFilterList({
		'wrapper'	: '.content-box',
		'posUrl'	: "<?= $this->getLink('pos') ?>",
		'txtDelete'	: 'Вы действительно хотите удалить текущий элемент?'
	});

})(jQuery);
//-->
</script>
