<div class="pollSlider">
<?= $this->htmlGetSponsor() ?>
</div>
<div id="pollSlider-button"><p class="right-slide-text-button">Спонсорам</p></div>

    <div class="row-fluid">    
        <div class="span12 block-info">          
          <div class="row-fluid" style="padding-top:20px;"> 
            <div class="span2">                         
                <img src="http://placehold.it/260x180" alt="">          
            </div>
            <div class="ribbon-wrapper-green"><div class="ribbon-green">Новости</div></div>
                    <div class="info-text-small">
              <p><?= $Article->Title ?></p>
            </div> 
         <div class="span9"> 
            <?= $Article->Description ?>
          <p><a class="btn pull-right" href="/competentions/view/<?= $Article->Id ?>">Читать полную новость</a></p>
        </div>
      </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div id="sliderFrame">
            <div id="slider" style="width: 630px; background-position: initial initial; background-repeat: initial initial;">
                <? foreach ( $Carousels as $Carousel ) : ?>  
                <img src="<?= $Carousel->Url ?>" alt="<?= $Carousel->Description ?>" style="display: none;">
                <? endforeach; ?>   
            </div>
            <!--thumbnails-->
            <div id="thumbs">                
                <? foreach ( $Carousels as $Carousel ) : ?>                
                <div class="thumb">
                    <div class="frame"><img src="<?= $Carousel->Url ?>" /></div>
                    <div class="thumb-content"><!--<p>HTML Content</p>--><?= String::cropText( $Carousel->Description, 110 ) ?></div>
                    <div style="clear:both;"></div>                    
                </div>
                <? endforeach; ?>                
            </div>
            <!--clear above float:left elements. It is required if above #slider is styled as float:left. -->
            <div style="clear:both;height:0;"></div>
        </div>
      </div>
    </div>
<br />
 <?= $this->htmlAboutCity() ?>

    <!--<div class="row-fluid">
      <div class="span6 block-info">
        <h4>
          ЧЕ 2013 Загреб: Украина везет домой полный комплект наград
        </h4>
        <p class="muted">22 Июня 2013</p>
        <p>
          По итогам Чемпионата Европы по фехтованию в Загребе Украина заняла пятое общекомандное место. Всего наши спортсмены...
        </p>
        <p class="button-desc pull-right">
          <a class="btn" href="#">Подробней »</a>   
        </p>
      </div>

      <div class="span6 block-info">  
        <h4>
          ЧЕ 2013 Загреб: Саблисты завоевывают бронзу
        </h4>
        <p class="muted">21 Июня 2013</p>
        <p>
          Финальный день Чемпионата Европы по фехтованию в Загребе завершился для Украины бронзой саблистов и пятыми местом шпажисток. 
        </p>
        <p class="button-desc pull-right">
          <a class="btn" href="#">Подробней »</a>   
        </p>
      </div>
    </div>-->
    

<script>    
  $('div.modal-body').find('p').addClass('well');
  $('div.block-info').find('img').addClass('news-image');  
  $('div.pollSlider p').select().addClass('pollSlider-text');
  $('div.carousel-inner div.item:first').addClass('active');
  $('#img*').each(function(){
  $(this).find('img').addClass('thumbnail');    
  });  
  
</script>
