<div class="content-box">

	<h3>Контакты в подвале</h3>
	
	<? if ( isset( $Error ) ) : ?>
	<blockquote class="error">
		<?= htmlspecialchars( $Error ) ?>
	</blockquote>
	<? endif; ?>
	
	<form action="" method="post" id="edit-form" style="padding: 10px;">

	<fieldset>

		<table width="100%" cellpadding="0" cellspacing="4">
		<tr class="form-group">
			<th width="200">Подпись</th>
			<td><input class="form-control" style="width: 50%;" type="text" name="Config[copyrights]" value="<?= htmlspecialchars( Config::get('copyrights') ) ?>" /></td>
		</tr>                
		<tr class="form-group">
			<th width="200">E-mail</th>
			<td><textarea name="Config[contacts/email]" rows="3" cols="40" class="form-control"><?= htmlspecialchars( Config::get('contacts/email') ) ?></textarea></td>
		</tr>
		<tr class="form-group">
			<th>Телефоны</th>
			<td><textarea name="Config[contacts/phones]" rows="3" cols="40" class="form-control"><?= htmlspecialchars( Config::get('contacts/phones') ) ?></textarea></td>
		</tr>
		<tr class="form-group">
			<th>Адрес</th>
			<td><textarea name="Config[contacts/address]" rows="5" cols="40" class="form-control"><?= htmlspecialchars( Config::get('contacts/address') ) ?></textarea></td>
		</tr
		</table>
		
		<div class="form-buttons">
			<button type="submit" name="submit" class="submit btn btn-primary">Сохранить</button>
			<button type="button" name="cancel" class="cancel btn btn-primary" href="<?= $this->getLink('', true) ?>">Отмена</button>
		</div>
		
	</fieldset>
	
	</form>
	
	
</div>

<script type="text/javascript">
<!--
(function($){
	
	var $form = $('#edit-form');
	
	$form.find('button.cancel').click(function(){
		redirect($(this).attr('href'));
	});
	
	
})(jQuery);
//-->
</script>
