<div class="content-box">   
    
    <div class="row">
        <div class="col-md-8">
            <h4>Контакты в подвале <a class="btn btn-primary btn-xs" href="<?= $this->getLink('contacts') ?>">изменить</a></h4>
            <p><strong>Подпись:</strong> <?= htmlspecialchars( Config::get('copyrights') ) ?></p>
            <p><strong>Email:</strong> <?= nl2br( htmlspecialchars( Config::get('contacts/email') ) ) ?></p>
            <p><strong>Телефоны:</strong> <?= nl2br( htmlspecialchars( Config::get('contacts/phones') ) ) ?></p>         
            <p><strong>Адрес:</strong> <?= nl2br( htmlspecialchars( Config::get('contacts/address') ) ) ?></p>              
        </div>
    </div>

	
	
	<!--<div class="column50">
		<h2 class="h1">Настройки поиска <a href="<?//= $this->getLink('search') ?>" class="small">изменить</a></h2>
		
		<table width="100%" cellpadding="0" cellspacing="4">
		<tr>
			<td width="200">Поиск yandex.ru ID</td>
			<td><?//= htmlspecialchars( Config::get('yandex/searchid') ) ?></td>
		</tr>
		<tr>
			<td width="200">Страница выдачи результатов поиска</td>
			<td><?//= htmlspecialchars( Config::get('yandex/searchpage') ) ?></td>
		</tr>
		</table>
	</div>	-->
	
	<!--<div class="column50">
		<h2 class="h1">Настройки соц. кнопок <a href="<?//= $this->getLink('social') ?>" class="small">изменить</a></h2>
		
		<table width="100%" cellpadding="0" cellspacing="4">
		<tr>
			<td width="200">Кнопки "мне нравится"</td>
			<td><?//= htmlspecialchars( Config::get('social/buttons') ) ?></td>
		</tr>
		</table>
	</div>	
	<br class="clear" />
	<br />-->

</div>
