<? $Subscription = $this->getObject(); ?>


Дорогой, клиент. <br />
Недельная рассылка новостей. <br />
<br />
    
<? foreach ( $this->news as $Article ) : ?>
<h2><a href="<?= URL::get($Article) ?>"><?= htmlspecialchars( $Article->Title ) ?></a></h2>
<div><em><?= htmlspecialchars( $Article->getDate( true ) )  ?></em></div>
<p><?= nl2br( htmlspecialchars( $Article->Description ) ) ?></p>
<div><a href="<?= URL::get($Article) ?>">Далее &rarr;</a></div>
<hr />

<? endforeach; ?>

<a href="<?= URL::get( $Subscription ) ?>">Отписатся от рассылки</a>