<? $Order = $this->getObject(); ?>
<? $Address = $Order->getAddress(); ?>

<table width="700" style="border-collapse: collapse;">
	<tr>
		<th style="width: 50px">&nbsp;</th>
		<th style="width: 120px; text-align: left">Постачальник</th>
		<td>
			<?= nl2br( htmlspecialchars( Config::get('invoice/info') ) ) ?>
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<th style="text-align: left">Одержувач</th>
		<td>
			<?= htmlspecialchars( $Address->Company ) ?>
			<br />
			тел. <?= htmlspecialchars( $Address->Phone ) ?>
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<th style="text-align: left">Платник</th>
		<td>Той самий</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<th style="text-align: left">Замовлення</th>
		<td>Без замовлення</td>
	</tr>
</table>

<div style="width: 700px; text-align: center; margin: 15px 0; font-size: 20px">
	<p>Рахунок-фактура № СФ-С<?= $Order->Id ?></p>
	<p>від <?= $Order->getDate() ?></p>
</div>

<table width="700" style="border-collapse: collapse;">
<thead>
	<tr>
		<td width="50" style="padding: 3px; border-bottom: 1px solid #999999;">№</td>
		<td width="220" style="padding: 3px; border-bottom: 1px solid #999999;">Назва</td>
		<td width="30" style="padding: 3px; border-bottom: 1px solid #999999;">Од.</td>
		<td width="100" style="padding: 3px; border-bottom: 1px solid #999999; text-align: right">Кількість</td>
		<td width="100" style="padding: 3px; border-bottom: 1px solid #999999; text-align: right">Ціна без ПДВ</td>
		<td width="100" style="padding: 3px; border-bottom: 1px solid #999999; text-align: right">Сума без ПДВ</td>
	</tr>
</thead>
<tbody>
	<? foreach ( $Order->getRows() as $i => $Row ) : ?>
	<? $Product = $Row->getProduct(); ?>
	<tr valign="center">
		<td style="padding: 3px; border-bottom: 1px solid #999999;"><?= $i + 1 ?></td>
		<td style="padding: 3px; border-bottom: 1px solid #999999;"><?= htmlspecialchars( $Product->getName() ) ?></td>
		<td style="padding: 3px; border-bottom: 1px solid #999999;">шт.</td>
		<td style="padding: 3px; border-bottom: 1px solid #999999; text-align: right"><?= $Row->Quantity ?></td>
		<td style="padding: 3px; border-bottom: 1px solid #999999; text-align: right"><?= Price::show( $Row->Price ) ?> грн.</td>
		<td style="padding: 3px; border-bottom: 1px solid #999999; text-align: right"><?= Price::show( $Row->getAmount() ) ?> грн.</td>
	</tr>
	<? endforeach; ?>
</tbody>
<tfoot>
	<tr>
		<th colspan="5" style="text-align: right;">Итого</th>
		<td align="right"><strong><?= Price::show( $Order->Total ) ?></strong> грн.</td>
	</tr>
</tfoot>
</table>
